*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-color: black;
}

#gameContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgb(184, 154, 161);
    display: flex;
}

#gameMain {
    background-color: rgb(151, 190, 190);
    flex: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rightPane {
    background-color: rgb(22, 49, 66);
    flex: 20%;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2),
        0 6px 30px 0 rgba(0, 0, 0, 0.19);
}

#circle {
    border-radius: 50%;
    cursor: pointer;
    color: white;
}

#circle:first-child {
    background-color: transparent;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: none;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sum {
    color: white;
    font-size: 21px;
    text-align: center;
    margin-top: 20px;
}

#start {
    height: 70px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50%;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2),
        0 6px 30px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s ease;
}

#start:hover {
    background-color: white;
    color: rgb(46, 114, 91);
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2),
        0 6px 30px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s ease;
    cursor: pointer;
}

#retry {
    color: black;
    font-size: 21px;
    text-align: center;
    background-color: rgb(230, 230, 230);
    width: 200px;
    height: 30px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0, 370px);
    cursor: pointer;
    transition: 0.5s ease;
}

#retry:hover {
    background-color: white;
}
